.carousel
    .icons
        a.icon.icon_1.selected(data-id='1',href='#')
        a.icon.icon_2(data-id='2',href='#')
        a.icon.icon_3(data-id='3',href='#')
        a.icon.icon_4(data-id='4',href='#')