.icontent
    span.logo(href='#')
        img(src='http://r.syyx.com/qile/index/logo_btn.png')
    a.wen(href='http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/0aaf636433f644d8ab1b51f8e0cfd175', target='_blank')
        img(src='http://r.syyx.com/qile/www.png', width='70px', height='70px')
    ul.menu-box
        li.menu-list
            a.menu-item(href='about.html',target='_blank') 关于我们
            -
        li.menu-list
            a.menu-item(href='#') 商务合作
            -
        li.menu-list
            a.menu-item(href='#') 客服中心
            -
        li.menu-list
            a.menu-item(href='#') 未成年人家长监护
    .copy-right Copyright ©2015-2016  深圳市其乐游戏科技有限公司
    p.left
        span 网站备案/许可证号：
        a(href='http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action', target='_blank') 粤ICP备16000232号-1
        
        span(style='margin-left:20px;') 增值电信业务经营许可证：
        a(href='http://r.syyx.com/qile/b22016.jpg', target='_blank') 粤B2-20160314

        a(href='http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/0aaf636433f644d8ab1b51f8e0cfd175', style='margin-left:20px;', target='_blank') 粤网文〔2016〕1005-162号

    p.left 健康游戏忠告： 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活
    
