.head_nav
    a.logo(href='http://www.qileyx.com/')
        img(src='http://r.syyx.com/qile/index/logo_btn.png')
    .inav
        a.index(href='index.html') 首页
        a.about(href='about.html') 关于我们
        a.news(href='news.html') 其乐动态
        a.product(href='product.html') 产品介绍
        a.employ(href='employ.html') 招聘信息
