.ihead
    width 100%
    height 120px
    background-color #181818
    .head_nav
        position relative
        width 1120px
        height 60px
        left 50%
        margin-left -560px
        a.logo
            img 
                top 50%
                position relative
                margin-top -23px
        .inav
            display inline-block
            font-size 20px
            width 750px
            position relative
            float right
            top 50%
            margin-top -13px
            a
                margin-left 75px
                padding-bottom 10px
            a.active
                color #21a2dd
                border-bottom 1px solid #21a2dd
            a:hover
                color 2b95ca
    .head_sub
        position relative
        width 1120px
        height 60px
        left 50%
        margin-left -560px
        font-size 14px
        .content
            margin-top 30px
        a.active
            color #21a2dd
        a:hover
            color #2b95ca   
.icontainer
    width 100%
    // height 800px
    color #000
    font-size 18px
    .container
        position relative
        width 1200px
        left 50%
        margin-left -600px
        .header
            padding-top 50px
            height 60px
            .head
                .head-into
                    width 150px
                    height 34px
                    position relative
                    left 50%
                    margin-left -75px    
                    span
                        display inline-block
                        float left
                        width 35px
                        height 35px
                        background-position 0 0
                        background-repeat no-repeat 
                        background-image url('http://r.syyx.com/qile/employ/employ.png')
                        padding-bottom 5px
                    p
                        display inline-block
                        float right
                        padding-bottom 5px
                        font-size 25px
                        font-weight bold
                        border-bottom solid 2px #21a2dd
            hr
                margin-bottom 10px
        .post-list
            height 550px
            table.post
                width 100%
                border-collapse collapse
                thead> tr> th, tbody> tr> td
                    text-align center
                    height 60px
                thead> tr> th
                    border-bottom 1px solid #21a2dd
                tbody> tr> td
                    border-bottom 1px dashed #d2d2d2
                tbody> tr:hover
                    background-color #eaeaea
        .pages
            margin-top 40px
            margin-bottom 40px
            ul.page
                display inline-block
                position relative
                li
                    display inline-block
                    margin auto 10px
                    a
                        border solid #000 1px
                        text-align center
                        display inline-block
                        height 25px
                        box-shadow -2px 0px 2px #000;
                    a.active
                        color #2b95ca
                        border-color #2b95ca
                    a.index
                        width 25px
                    a:hover
                        border-color #2b95ca
        .detail
            .title
                font-weight bold
                line-height 2
            .hr
                border-top 1px solid #21a2dd
                margin-top 5px
                margin-bottom 10px
            .content
                margin-bottom 20px