.icontent
    .two-form
        display flex
        flex-direction row
        section
            flex 1
            overflow-y auto
            p
                margin-top  10px
                margin-bottom  -10px
                font-size  20px
                font-family  'youyuan'
                font-weight  bold
        #publish
            order 1
            margin-right 10px
        #push
            order 2
            margin-left 10px
