doctype html
html
    head
        title 其乐下载
        meta(name="viewport",content="width=device-width,initial-scale=1")
        style
            html,body{
                margin:0;
                padding:0;
                width: 100%;
                height: 100%;
                overflow:hidden;
            }
            #disnone{
                margin:0;
                display:none;
                padding:0;
                height: 100%;
                overflow:hidden;
                background:url("http://r.syyx.com/qile/index/dp_turn.png") ;
                background-size:100% 100%;               
            }
            #disnone img{
                width: 100%;
                height: 100%;
            }
    body
        #disnone

    script(type="text/javascript")
        window.onload=function(){
            if(navigator.userAgent.toLowerCase().match(/MicroMessenger/i)=="micromessenger") {
                document.getElementById("disnone").style.display = "block"
            }else{
                location.href = " http://sx01-mxybs01.shangyoo.com:4080/apk/qlgame.apk";
            }
        }