extends ../include/frame

append ihead
append logo
    p 其乐动态
append icontent          
    form.form-inline#find_form
        select.form-control.form-control-sm.status(v-model='query.status', @change='refresh')
            option(value='1') 已发布
            option(value='0') 未发布
            option(value='-1') 已删除
        input.form-control.form-control-sm(placeholder='ID', v-model='query.id')
        input.form-control.form-control-sm(placeholder='作者', v-model='query.author')
        input.form-control.form-control-sm(placeholder='标题', v-model='query.title')
        a.btn.btn-danger.btn-sm(@click='search') 查询
        a.btn.btn-danger.btn-sm(@click='add()') 新增
        //- p {{msg}}
        //- a#add.btn.btn-outline-secondary.btn-sm 添加
    .hr



    //- table.table.table-hover#unPublish
    //- table.table.table-hover#delete
    table.table.table-hover#publish
        thead
            tr
                th ID
                th 标题
                th 作者
                th 创建时间
                th 发布时间
                th 操作
        tbody
            tr(v-for='(item, index) in list',@dblclick='show(query.status, item)')
                td {{item.id}}
                td {{item.title}}
                td {{item.author}}
                td {{item.create_at}}
                td {{item.publish_at}}
                td
                    template(v-if='query.status==1')
                        a.mouse(@click='upd(index,0)') 撤回
                        &nbsp;
                        a.mouse.mouse(@click='upd(index, -1)') 删除
                    template.mousete(v-else-if='query.status==0')
                        a.mouse(@click='upd(index, 1)') 发布
                        &nbsp;
                        a.mouse(@click='upd(index, -1)') 删除
                    template(v-else='query.status==-1')
                        a.mouse(@click='upd(index, 0)') 恢复
                    //- cmp(:data='list', @ok='dfd(a, b, c)')
                    
                   


    //- nav.page
    //-     ul.pagination.justify-content-center
    //-         li.page-item: a.page-link(href='#') Previous
    //-         li.page-item: a.page-link(href='#', @click='turn_page(1)') 1
    //-         li.page-item: a.page-link(href='#') 2
    //-         li.page-item: a.page-link(href='#') 3
    //-         li.page-item: a.page-link(href='#') 4
    //-         li.page-item: a.page-link(href='#') Next

    //modal-lg
    .modal.fade.lg#modal_product(tabindex='-1',role='dialog',aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close: span(aria-hidden='true', data-dismiss='modal') &times;
                    h4.modal-title 动态编辑
                .modal-body
                    form
                        .form-group
                            label(for="title") 标题
                            input.form-control#title(type='text',v-model='item.title')
                        .form-group
                            label(for="author") 作者
                            input.form-control#author(v-model='item.author')
                        .form-group
                            label(for='detail_content') 内容
                            textarea#detail_content(v-model='item.content')
                    
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') 取消
                    button.btn.btn-primary(@click='sub_product(item)') 保存
  


append iscript
    script(src='/vendor/kindeditor-4.1.5/kindeditor.js')
    script(src='/javascripts/product/main.js')