.ihead{width:100%;height:120px;background-color:#181818;}
.ihead .head_nav{position:relative;width:1120px;height:60px;left:50%;margin-left:-560px;}
.ihead .head_nav a.logo img{top:50%;position:relative;margin-top:-23px}
.ihead .head_nav .inav{display:inline-block;font-size:20px;width:750px;position:relative;float:right;top:50%;margin-top:-13px;}
.ihead .head_nav .inav a{margin-left:75px;padding-bottom:10px}
.ihead .head_nav .inav a.active{color:#21a2dd;border-bottom:1px solid #21a2dd}
.ihead .head_nav .inav a:hover{color:2 b95ca}
.ihead .head_sub{position:relative;width:1120px;height:60px;left:50%;margin-left:-560px;font-size:14px;}
.ihead .head_sub .content{margin-top:30px}
.ihead .head_sub a.active{color:#21a2dd}
.ihead .head_sub a:hover{color:#2b95ca}
.icontainer{width:100%;color:#000;font-size:18px;}
.icontainer .container{position:relative;width:1200px;left:50%;margin-left:-600px;}
.icontainer .container .header{padding-top:50px;height:60px;}
.icontainer .container .header .head .head-into{width:150px;height:34px;position:relative;left:50%;margin-left:-75px;}
.icontainer .container .header .head .head-into span{display:inline-block;float:left;width:35px;height:35px;background-position:0 0;background-repeat:no-repeat;background-image:url("http://r.syyx.com/qile/product/game.png");padding-bottom:5px}
.icontainer .container .header .head .head-into p{display:inline-block;float:right;padding-bottom:5px;font-size:25px;font-weight:bold;border-bottom:solid 2px #21a2dd}
.icontainer .container .header hr{margin-bottom:10px}
.icontainer .container .game-list{height:762px;}
.icontainer .container .game-list ul.list{list-style:none;}
.icontainer .container .game-list ul.list li.game{width:386px;display:inline-block;margin-left:21px;margin-top:40px;}
.icontainer .container .game-list ul.list li.game a{width:100%;height:100%;}
.icontainer .container .game-list ul.list li.game a img{width:386px;height:240px}
.icontainer .container .game-list ul.list li.game a .out{color:#fff;height:100px;background-color:#222;text-align:center;padding:0 5px;margin-top:-5px;}
.icontainer .container .game-list ul.list li.game a .out strong{display:block;margin-bottom:5px;padding-top:5px}
.icontainer .container .game-list ul.list li.game a .out p.span{font-size:16px;word-wrap:break-word;height:45px;overflow:hidden;text-overflow:ellipsis}
.icontainer .container .game-list ul.list li.game a:hover p{color:#2b95ca}
.icontainer .container .game-list ul.list>li.game:nth-child(1),.icontainer .container .game-list ul.list>li.game:nth-child(4){margin-left:0}
.icontainer .container .pages{margin-top:40px;margin-bottom:40px;}
.icontainer .container .pages ul.page{display:inline-block;position:relative;}
.icontainer .container .pages ul.page li{display:inline-block;margin:auto 10px;}
.icontainer .container .pages ul.page li a{border:solid #000 1px;text-align:center;display:inline-block;height:25px;box-shadow:-2px 0 2px #000}
.icontainer .container .pages ul.page li a.active{color:#2b95ca;border-color:#2b95ca}
.icontainer .container .pages ul.page li a.index{width:25px}
.icontainer .container .pages ul.page li a:hover{border-color:#2b95ca}
.icontainer .container .article .title{text-align:center;font-size:25px;font-weight:bold;margin-bottom:15px}
.icontainer .container .article .date{text-align:center;font-size:15px}
.icontainer .container .article .hr{border-top:1px dashed #ccc;margin-top:15px;margin-bottom:15px}
